// https://coolors.co/1c2321-7d98a1-5e6572-a9b4c2-eef1ef
$light-bg: #eef1ef;
$green-color: #b4dc7f;
$dark-color: #1c2321;
$red-color: #db5461;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
  background: $light-bg;
}

// Utility classes

.btn {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  //border-bottom: 1px solid $dark-color;
  border-radius: 50%;
  background: $green-color;
  color: $dark-color;
  cursor: pointer;
  transition: all 0.1s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &:hover {
    background: darken($green-color, 15);
    color: $light-bg;
  }

  &:active {
    background: $green-color;
    transform: scale(1.1);
  }
}

.btn2 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.btn-del {
  background-color: $red-color;

  &:hover {
    background: darken($red-color, 20);
    color: $light-bg;
  }

  &:active {
    background: darken($red-color, 10);
  }
}

.title-l {
  font-size: 3rem;
}

.title-m {
  width: 100%;
  font-size: 2rem;
}

.title-s {
  font-size: 1.5rem;
  font-weight: 100;
}

.icon-s {
  font-size: 1.75rem;
}

.icon-xs {
  font-size: 1.5rem;
}

.project {
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: $dark-color;
    color: $light-bg;
    font-weight: bold;
    text-shadow: 0px 0px 10px;
  }
}

// Header
#header {
  z-index: 5;
  width: 100vw;
  height: 60px;
  background: $dark-color;

  #app-title {
    font-style: italic;

    color: $light-bg;
    margin: 0 0 0 125px;
  }
}

// Aside
#aside {
  width: 200px;
  background: $light-bg;
  border-right: 1px solid #5e6572;

  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  padding: 60px 0 0 0;

  .title-m {
    text-align: center;
    color: $dark-color;
    padding: 0.5rem 0;
  }
}

.add-project {
  button {
    width: 30px;
    height: 30px;
  }
}

// main
#main {
  margin: 0 0 0 200px;
  padding: 60px 0 0 0;
  position: absolute;
  top: 0px;
  height: 100%; // ***
  width: calc(100% - 205px);
  display: flex;

  .title-m {
    display: inline-block;
  }
}
// left side of main, todos
.todos-column {
  flex: 2;
  max-width: 650px;
  padding: 0 1rem;
}

.add-todo-item {
  //max-width: 700px;
  display: flex;
  margin: 0 0 1rem 0;

  input {
    border: none;
    border-bottom: 1px solid $dark-color;
    outline: none;
    height: 100%;

    padding: 0.25rem 1rem;
    width: 100%;
    background-color: $light-bg;

    &[type='date'] {
      background: #fff;
    }
  }
  select {
    height: 100%;
  }

  .btn {
    background-color: #8bdbf3;
    margin-right: 1rem;

    &:hover {
      background: darken(#8bdbf3, 20);
      color: $light-bg;
    }

    &:active {
      background: darken(#8bdbf3, 10);
    }
  }
  .todo-right {
    display: flex;
    display: flex;
    align-items: center;

    select {
      margin-right: 1rem;
      border-radius: 5px;
      padding: 0 0.25rem;
      border: 1px solid $dark-color;
    }

    input {
      margin: 0 1rem;
      border-radius: 5px;
      padding: 0 0.25rem;
      border: 1px solid $dark-color;
    }
  }
}

.todo-item {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  background-color: lighten($light-bg, 5);
  //border-bottom: 1px solid #7d98a1;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;

  .btn:last-child {
    margin-left: 1rem; // to push the trash icon
  }
}

.todo-complete {
  // added when todo complete is clicked
  h3 {
    color: #c7c7c7;
    font-style: italic;
    text-decoration: line-through;
  }
  .btn {
    background-color: #cdcdcd;
  }
}

.todo-right {
  display: flex;
  display: flex;
  align-items: center;

  .due-date {
    width: 140px;
    margin-right: 1rem;
  }

  .priority {
    width: 30px;
    margin: 0 1rem;
  }
}

// right side of main, todos-info
#todo-info {
  flex: 1;
  max-width: 100%;
  padding: 0 1rem 1rem 1rem;
  border-left: 1px solid $dark-color;

  textarea {
    width: 100%;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    border: none;
    border: 1px solid #acacac;
    border-radius: 10px;
    outline: none;
    padding: 0.25rem 1rem;
    background-color: $light-bg;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
